#title {
  background-color: #39D1FF;
  color: #0E3440;
}
#titleSmall {
  padding-top: 20;
  cursor:pointer;
}
#titleText {
  cursor:pointer;
}
.card-link, .card-link:hover {
    text-decoration: none;
    color: #212529;
}
